.GalleryPage {
    height: 100%;
    display: flex;
    flex-direction: column;
}

.Gallery {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-color: #E8EEE6;
    flex: 1;
    overflow: auto;
}

.GalleryBar {
    height: 50px;
    width: 100%;
    background-color: #E8EEE6;
    display:flex;
    justify-content: space-around;
    border-top: solid 1px lightgray;
}


.AddImageForm {
    padding-top: 10px;
    margin-bottom: 30px;

}
.AddImageForm .FormSubmitButton {
    margin: 10px;
    width:90%;
}

.AddImageForm .InputField input, label {
    padding-left:10px !important;
    padding-right:10px !important;
}

.DisclaimerText {
    display: flex;
    flex-direction: column;
    margin:10px;
    padding: 10px;
    border: solid 1px lightgray;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 10px, rgba(0, 0, 0, 0.23) 0px 3px 10px;
}

.DisclaimerText .DisclaimerIcon {
    padding-bottom: 10px;

}

.CloseDrawerButton {
    padding-top: 10px;
    width: 100% !important;
    height: 90px !important;
}