.polaroid {
    height: 300px;
    width: 380px;
    margin: 35px;
}
 
.polaroid img {
    border: 10px solid #fff;
    border-bottom: 45px solid #fff;
    -webkit-box-shadow: 3px 3px 3px #777;
    -moz-box-shadow: 3px 3px 3px #777;
    box-shadow: 3px 3px 3px #777;
    pointer-events: none;
    height: 250px;
    width: 320px;
    min-height: 250px;
    min-width: 320px;
    
}
.polaroid .innerPolaroid {
    width: fit-content;
    height: fit-content;
    -webkit-transform: rotate(2deg);
    -moz-transform: rotate(2deg);
    transform: rotate(2deg);
}
 
.polaroid p {
    position: absolute;
    text-align: center;
    width: 100%;
    bottom: 0px;
    font: 400 18px/1 'Kaushan Script', cursive;
    color: #888;
    z-index: 10;
    pointer-events: none;
}

.polaroid :hover {
    -webkit-transform: scale(1.05);
    -moz-transform: scale(1.05);
    transform: scale(1.05);
    position: relative;
}

.polaroid .description {
    position: relative;
    float: right;
    width: 200px;
    height: 150px;
    background-color: #eae672;
    border-radius: 8px;
    padding: 0px;
    top: -150px;
    left: 20px;
    box-shadow: 0 10px 10px 2px rgba(0,0,0,0.3);
    font: 400 14px/1 'Kaushan Script', cursive;
    -webkit-transform: rotate(-12deg);
    -moz-transform: rotate(-12deg);
    transform: rotate(-12deg);
}

.description div {
    margin: 5px;
    margin-left:15px; margin-right: 15px;
}

