.GalleryPage {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.Gallery {
    flex-grow:2;
    overflow-y: scroll;
    overflow-x: hidden;

    width: 100%;
    background-color: #E8EEE6;
}

.GalleryBar {
    height: 50px;
    width: 100%;
    position: absolute;
    bottom: 0px;
    background-color: lightblue;
    display:flex;
    justify-content: space-around;
}

.images {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}