.GalleryPage {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.Gallery {
    flex-grow:2;
    overflow-y: auto;
    overflow-x: hidden;
    height: auto;
    width: 100%;
    background-color: #D1F1C5;
}

.GalleryBar {
    height: 50px;
    width: 100%;
    position: absolute;
    bottom: 0px;
    background-color: lightblue;
}

.images {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}